<title>My application deployed automatically</title>
<title>My application</title>
  <h1>Sum to Index Search</h1>
    

Given 2 arrays and 2 indexes,Search if sum of Array1[0] to Array1[int1] equals to sum of Array2[0] to Array2[int2]<br>

box-1 : Array of integers<br>
box-2 : Array of integers<br>
box-3 : index for box 1<br>
box-4 : index for box 2<br>

ex.If box-1={1,2,3,4,5}  box-2={7,8} box-3={5} box-4={2} 1+2+3+4+5=7+8 so our result will be "true".<br><br>


Result is {{result}}
  <form action="compute" method="post">
        <textarea name="input1" rows="10" cols="30"></textarea>
        <textarea name="input2" rows="10" cols="30"></textarea>
        <textarea name="input3" rows="10" cols="30"></textarea>
        <textarea name="input4" rows="10" cols="30"></textarea>      

	<br>
        <input type="submit">
  </form>
